body {
    font-family: Arial, sans-serif;
    background-color: #0fd8e9;
    text-align: center;
    padding: 0px;
}
.container1{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 30%;
    margin: auto;
    margin-bottom: 5px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

label, select, input {
    display: block;
    margin: 10px auto;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}
